@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
    background: #FAFAFA;
    margin: 0;
    min-height: 100vh;
}

.titlee {
    font-family: Handlee, sans-serif;
    font-weight: 700;
    font-size:3rem;
}

.form-login {
    background-color: white ;
    border: 0.2px solid #dbdbdb;
    padding: 2%;
    margin: 5% 34% 1% 34%;
}

.form-register{
    margin: 0% 34% 2% 34%;
}

.form-input{
    background-color: #FAFAFA;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    margin-bottom: 8px;
    padding: 10px 10px;
    width: 100%;
}

.button-login{
  background: #4896F6;  
  border: 0px none;
  padding: 3%;
  border-radius: 5px;

}

